@import "~antd/dist/antd.dark.css";
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);

html,
body {
	height: 100% !important;
	-webkit-font-smoothing: antialiased;
}

#root {
	height: 100% !important;
}
